FLASK_ENV=development
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/coolbox
SECRET_KEY=change-me
JWT_SECRET_KEY=change-me-too
FRONTEND_ORIGIN=http://localhost:5173
EMAIL_DOMAIN=coolbox.com.pe
IGV_RATE=0.18
